___

 # Veda Vartha - Python Crash Course - Data Science
____

## Data types

### Numbers

In [103]:
1 + 1

2

In [104]:
1 * 3

3

In [105]:
1 / 2

0.5

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [106]:
5 % 2

1

In [ ]:
(2 + 3) * (5 + 5)

### Variable Assignment

In [107]:

no_of_var= 2

In [108]:
x = 2
y = 3

In [109]:
z = x + y

In [110]:
z

5

### Printing

In [111]:
x = 'hello'

In [112]:
x

'hello'

In [ ]:
print(x)

In [113]:
num = 12 #one
name = 'Sam'#two

#dynamic programming

In [115]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [116]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [119]:
[1,2,3]
l=[]
print(l)
l

[]

[]

In [ ]:
['hi',1,[1,2]]

In [120]:
my_list = ['a','b','c']

In [121]:
my_list.append('d')

In [123]:
my_list.pop()

'd'

In [124]:
my_list[0]

'a'

In [125]:
my_list[1]

'b'

In [126]:
my_list[1:]

['b', 'c']

In [127]:
my_list[:1]

['a']

In [128]:
my_list[0] = 'NEW'

In [129]:
my_list

['NEW', 'b', 'c']

In [130]:
nest = [1,2,3,[4,5,['target']]]

In [132]:
nest[3]

[4, 5, ['target']]

In [133]:
nest[3][2]

['target']

In [134]:
nest[3][2][0]

'target'

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [135]:
d['key1']
k={'Fruits':'Mango,Apple','Animal':'Tiger'}
k

{'Fruits': 'Mango,Apple', 'Animal': 'Tiger'}

### Booleans

In [136]:
True
a=2
b=3
a==b

False

In [ ]:
False

### Tuples

In [ ]:
t = (1,2,3)
#list are mutable -- means we can add itmes in list
#tuples are immutable -- means no addition

In [137]:
t[0]

1

In [138]:
t[0] == 'NEW'

False

### Sets

In [ ]:
{1,2,3}

In [139]:
b=[1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2]
set(b)

{1, 2, 3}

## Comparison Operators

In [ ]:
1 > 2

In [ ]:
1 < 2

In [ ]:
1 >= 1

In [ ]:
1 <= 4

In [ ]:
1 == 1

In [140]:
'hi' == 'bye' #boolen example

False

## Logic Operators

In [ ]:
(1 > 2) and (2 < 3)

In [ ]:
(1 > 2) or (2 < 3)

In [ ]:
(1 == 2) or (2 == 3) or (4 == 4)

## if,elif, else Statements

In [141]:
if 1 < 2:
    print('Yep!')

Yep!

In [ ]:
if 1 < 2:
    print('yep!')

In [142]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [ ]:
if 1 > 2:
    print('first')
else:
    print('last')

In [ ]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

## for Loops

In [143]:
seq = [1,2,3,4,5]

In [144]:
for item in seq:
    print(item)

1
2
3
4
5

In [145]:
for item in seq:
    print('a')

a
a
a
a
a

In [146]:
for x in seq:
    print(x*x)

1
4
9
16
25

## while Loops

In [147]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [148]:
range(5)

range(0, 5)

In [149]:
for i in range(5):
    print(i)

0
1
2
3
4

In [150]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [152]:
x = [1,2,3,4]

In [153]:
out = []
for item in x:
     out.append(item**2)
print(out)

[1, 4, 9, 16]

In [154]:
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [155]:
def my_func(param1='default'):
    """
    Enter your logic
    """
    print(param1)

In [156]:
my_func

In [157]:
def square(x):
    return x**2 # calculate the square

In [158]:
out = square(2)

In [159]:
print(out)

4

## lambda expressions

In [160]:
def times2(var):
    return var*2

In [161]:
times2(2)

4

In [162]:
lambda var: var**2 #declare a variable then apply condition --> simple square function

## map and filter

In [163]:
seq = [1,2,3,4,5]

In [165]:
map(times2,seq)

In [166]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [167]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [168]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [169]:
st = 'hello my channel name is Veda Vartha'

In [170]:
st.lower()

'hello my channel name is veda vartha'

In [171]:
st.upper()

'HELLO MY CHANNEL NAME IS VEDA VARTHA'

In [172]:
st.split()

['hello', 'my', 'channel', 'name', 'is', 'Veda', 'Vartha']

In [ ]:
Split_Text = 'Go Sports! #Sports'

In [173]:
Split_Text.split('#')

['Go Sports! ', 'Sports']

In [174]:
Split_Text.split('#')[1]

'Sports'

In [7]:
a=4
b='Veda Vartha'
c=2.12
print(type(a),type(b),
type(c))

<class 'int'> <class 'str'> <class 'float'>